@import '../var';
@import '../mixin';

.nav {
    display: flex;

    &__item {
        margin-right: 65px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        @include standardText;
        color: $nav-text-color;

        &:hover {
            opacity: 0.6;
        }
    }

}