$main-bg: #FDFDFB;
$accent-color: #D4B098;
$dark-color: #444240;
$lite-color: #FDFDFB;
$bg-color: #F7F5EF;
$text-color: #262421;
$title-color: #1B1A17;
$title-color-a: rgba(27, 26, 23, 0.82);
$design-color-a: rgba(244, 230, 221, 0.41);
$nav-text-color: #555248;
$line-color: #8B8371;
$white-color: #fff;